# Visual C++ cache files
*.aps
*.sdf

# eclipse setting files
ZViewer/.project
ZViewer/.cproject
ZViewer/.pydevproject

ZViewer/obj
ZViewer/build/VS20*/*.vcxproj.user
ZViewer/build/VS20*/dlldata.c
ZViewer/build/VS20*/ZViewerAgent.h
ZViewer/build/VS20*/ZViewerAgent_i.c
ZViewer/build/VS20*/ZViewerAgent_p.c
ZViewer/build/VS20*/*.suo
ZViewer/build/VS20*/*.opensdf
ZViewer/build/VS20*/ipch
ZViewer/build/VS20*/x64/
ZViewer/build/VS20*/Win32/
ZViewer/output/*.ilk
ZViewer/output/*.pdb
ZViewer/output/FreeImage*.dll
ZViewer/output/korean.dll
ZViewer/output/ZViewerAgent.exp
ZViewer/output/ZViewerAgent.lib
ZViewer/output/ZViewerAgent.dll
ZViewer/output/ZViewerAgentD.dll
ZViewer/output/ZViewerIcons.dll
ZViewer/output/ZViewerIconsD.dll
ZViewer/output/ZViewer.exe
ZViewer/output/ZViewerD.exe
ZViewer/output/ZUnitTest.exe
ZViewer/output/ZUnitTestD.exe
ZViewer/output/language/korean.dll
ZViewer/output/language/korean.pdb
ZViewer/output/language/korean.ilk
ZViewer/output/language/LangKor.pdb
ZViewer/output/__pycache__/*.pyc
ZViewer/_release
