/.project
/ZViewer/obj
/ZViewer/build/VS2010/*.vcxproj.user
/ZViewer/build/VS2010/dlldata.c
/ZViewer/build/VS2010/ZViewerAgent.h
/ZViewer/build/VS2010/ZViewerAgent_i.c
/ZViewer/build/VS2010/ZViewerAgent_p.c
/ZViewer/build/VS2010/ZViewerWin32.sdf
/ZViewer/build/VS2010/ZViewerWin32.suo
/ZViewer/build/VS2010/ipch