/.project
/obj
/build/VS2010/*.vcxproj.user
/build/VS2010/dlldata.c
/build/VS2010/ZViewerAgent.h
/build/VS2010/ZViewerAgent_i.c
/build/VS2010/ZViewerAgent_p.c
/build/VS2010/ZViewerWin32.sdf
/build/VS2010/ZViewerWin32.suo
/build/VS2010/ZViewerWin32.opensdf
/build/VS2010/ipch
/output/*.ilk
/output/*.pdb
/output/ZViewerAgent.exp
/output/ZViewerAgent.lib
/output/ZViewerAgentD.dll
/output/ZViewerD.exe
/output/ZViewerIconsD.dll
/output/language/korean.dll
/output/language/korean.ilk
/output/language/LangKor.pdb