
# eclipse setting files
/.project
/.cproject
/.pydevproject

/obj
/build/VS20*/*.vcxproj.user
/build/VS20*/dlldata.c
/build/VS20*/ZViewerAgent.h
/build/VS20*/ZViewerAgent_i.c
/build/VS20*/ZViewerAgent_p.c
/build/VS20*/*.suo
/build/VS20*/*.sdf
/build/VS20*/*.opensdf
/build/VS20*/ipch
/output/*.ilk
/output/*.pdb
/output/ZViewerAgent.exp
/output/ZViewerAgent.lib
/output/ZViewerAgent.dll
/output/ZViewerIcons.dll
/output/ZViewerAgentD.dll
/output/ZViewer.exe
/output/ZViewerD.exe
/output/ZUnitTest.exe
/output/ZUnitTestD.exe
/output/ZViewerIconsD.dll
/output/language/korean.dll
/output/language/korean.pdb
/output/language/korean.ilk
/output/language/LangKor.pdb
/output/__pycache__/*.pyc
/_release
